<!-- Nav -->
<div class="navigation">
    <ul>
        <div class="">
            <a href="{{ 'index'|page }}"><img class="img-fluid menu-logo" src="{{ 'assets/images/twp-logo.png'|theme }}"></a>
            <li><a class="company-name" ></a></li>
        </div>
        <div class="nav-button">
            <li class="grow"><a class="nav-btn-open" href="#">Life Planning</a></li>
        </div>
        <div class="nav-button">
            <li class="grow"><a class="nav-btn-open" href="#">Personal Services</a></li>
        </div>
            <li class="grow"><a href="{{ 'services'|page }}">Online Services</a></li>
            <li class="grow"><a href=" {{ 'blog'|page }}">News</a></li>
            <li class="grow"><a href=" {{ 'account'|page }}">Login</a></li>
    </ul>

</div>
<div class="nav-overlay">
    <div class="nav-wrap">
        <ul class="wrap-nav">
            <li ><a class="overlay-header" href="#">Life Planning</a>
                <ul>
                    <li><a href="{{ 'wills'|page }}">Wills</a></li>
                    <li><a href="{{ 'funeral'|page }}">Funeral</a></li>
                    <li><a href="{{ 'probate'|page }}">Probate</a></li>
                </ul>
            </li>
            <li><a class="overlay-header" href="#">Personal Services</a>
                <ul>
                    <li><a href="{{ 'storage'|page }}">Storage</a></li>
                    <li><a href="{{ 'trusts'|page }}">Trusts</a></li>
                    <li><a href="{{ 'inheritance'|page }}">Inheritance</a></li>
                    <li><a href="{{ 'faq'|page }}">Frequently Asked Questions</a></li>
                </ul>
            </li>
            </ul>
        </a>
    </div>
</div>
</div>
